*
body{
    font-family: sans-serif;
}

.active{
    border: 2px solid #26e;
    padding: 4px;
    background-color: #26e;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px 0;
}
